extends: default

rules:
  line-length:
    max: 120
    allow-non-breakable-inline-mappings: true
  indentation:
    spaces: 2
    indent-sequences: consistent
  document-start: disable

ignore: |
  .github/*
  .gitignore
  .yamllint
  README.md
  LICENSE
  cluster/flux-system/**
